<h1>Verbrauchsübersicht</h1>

<label>
  Start Transaktion:
  <select [(ngModel)]="selectedTransactionStart">
    <option *ngFor="let transaction of transactions()" [value]="transaction.id">
      {{ transaction.name }} ({{ transaction.date | date : "dd.MM.yyyy" }})
    </option>
  </select>
</label>

<label>
  End Transaktion:
  <select [(ngModel)]="selectedTransactionEnd">
    <option *ngFor="let transaction of transactions()" [value]="transaction.id">
      {{ transaction.name }} ({{ transaction.date | date : "dd.MM.yyyy" }})
    </option>
  </select>
</label>

<div class="button-group">
  <button [routerLink]="['/']">Zurück</button>
  <button (click)="calculateUsage()">Berechnen</button>
  <button (click)="downloadUsageAsExcel()" [disabled]="usage().length === 0">
    Download als Excel
  </button>
</div>

<ul>
  <li *ngFor="let item of usage()">
    <strong>{{ item.name }}:</strong> {{ item.quantity }}x
  </li>
</ul>
