<h1>@if (isEditing()) { Transaktion bearbeiten } @else { Neue Transaktion }</h1>

<label> Name: <input [(ngModel)]="name" /> </label>

<label>
  <input
    class="checkbox"
    type="checkbox"
    [checked]="isRestock()"
    (change)="toggleRestock()"
  />
  Einkauf
</label>

<div class="add">
  <input #drinkName placeholder="Getränkename" />
  <input #drinkQuantity type="number" placeholder="Menge" />
  <button (click)="addDrink(drinkName.value, drinkQuantity.value)">
    Getränk hinzufügen
  </button>
</div>

<ul>
  @for (drink of drinks(); track drink.name) {
  <li>
    <input [(ngModel)]="drink.name" placeholder="Getränkename" />
    <input [(ngModel)]="drink.quantity" type="number" placeholder="Menge" />
    <button (click)="removeDrink(drink.name)">❌</button>
  </li>
  }
</ul>

<div class="button-group">
  <button (click)="saveTransaction()">Speichern</button>
  <button (click)="cancel()">Abbrechen</button>
</div>
