<h1>Aktueller Getränkebestand</h1>
@if (inventory().length > 0) {
<ul>
  @for (drink of inventory(); track drink.name) {
  <li>
    <strong>{{ drink.name }}</strong
    >: {{ drink.quantity }}x
  </li>
  }
</ul>
} @if (inventory().length === 0) {
<p>Keine Getränke vorhanden.</p>
}

<h2>Transaktionen</h2>
<button [routerLink]="['/transaction/new']">Neue Transaktion</button>
<div class="transactions-grid">
  @for (transaction of transactions(); track transaction.id) {
  <div
    class="transaction-card"
    [ngClass]="{
      restock: transaction.isRestock,
      consumption: !transaction.isRestock
    }"
  >
    <p class="transaction-name">{{ transaction.name }}</p>
    <p class="transaction-date">{{ transaction.date | date : "dd.MM.yyyy" }}</p>
    <ul>
      @for (drink of transaction.drinks; track drink.name; let index = $index) {
      @if (index < 3) {
      <li>
        <strong>{{ drink.name }}:</strong> {{ drink.quantity }}x
      </li>
      } }
    </ul>
    @if (transaction.drinks.length > 3) {
    <span>...</span>
    }
    <button
      class="icon-button"
      (click)="deleteTransaction(transaction.id ?? '')"
    >
      🗑️
    </button>
    <button class="icon-button" [routerLink]="['/transaction', transaction.id]">
      ✏️
    </button>
  </div>
  }
</div>
